@media all and (min-width: 480px) {
    .Login {
      padding: 60px 0;
    }
  
    .Login form {
      margin: 0 auto;
      max-width: 320px;
    }

    .forgotPasswordButton {
      /* margin-left: auto;
      margin-right: 0; */
      margin-top: 20px;
      width: 100%;
    }
  }